.overlay {
    background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity here (0.5 means 50% opacity) */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .overlay1 {
    background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity here (0.5 means 50% opacity) */
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }
  @media (max-width: 768px) {
    .overlay1 {
      width: 100%;
      height: 100%;
    }
  }